footer.footer
	.container
		.footer__logo.logo
			a.logo__link(href="index.html")
				+i('logo-original')
		.footer__info
			.footer__soc
				a.footer__soc-item(href='#')
					+i('fb-2-original')
				a.footer__soc-item(href='#')
					+i('vk-2-original')
			.footer__infos.infos
				.infos__col
					.infos__col-in
						.infos__text Телефон:
						.infos__subtext + 358 50 500 1899
				.infos__col
					.infos__col-in
						.infos__text Call центр:
						.infos__subtext + 358 10 773 2050
				.infos__col
					.infos__col-in
						.infos__text Факс:
						.infos__subtext + 358 10 773 2099
				.infos__col
					.infos__col-in
						.infos__text Стационар:
						.infos__subtext + 358 9 162 0950