extend includes/_layout
block title
	title Docrates
block content
	//begin start
	.start
		.start__container.container
			.start__in
				.start__title Лечение и диагностика рака груди
				button.start__btn.btn.btn_white.btn_lg(type='button') оставить заявку на лечение
	//end start

	//begin service
	.service
		.service__container.container
			.service__title.title мы предлагаем
			.service__list
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-1.jpg' alt='image')
					.service__subtitle Прием онколога в течение 1-2 дней
					.service__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса На сегодняшнии день существует три основных метода лечения
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-2.jpg' alt='image')
					.service__subtitle Диагностика при помощи новейших аппаратов
					.service__text Возможность круглосуточного обращения в онкологический центр в Москве, экстренная госпитализация, проведение экстренных операций. Консультация онколога проводится по предварительной записи семь дней в неделю, в том числе в выходные и праздничные дни. На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия.
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-3.jpg' alt='image')
					.service__subtitle позитронно-эмиссионная и компьютерная томография
					.service__text Институт онкологии EMC – первая частная онкологическая клиника, оказывающая весь комплекс помощи пациентам с онкологическими заболеваниями: диагностика, химиотерапия, хирургия любой сложности, лучевая терапия, реабилитация, психологическая поддержка пациента и его семьи. Современные методы лечения рака, включая иммунотерапию
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-4.jpg' alt='image')
					.service__subtitle Точный диагноз благодаря нескольким способам
					.service__text Хирургия любой сложности, лучевая терапия, реабилитация, психологическая поддержка пациента и его семьи. Современные методы лечения рака, включая иммунотерапию и таргетную терапию, основанную на молекулярно- генетическом анализе опухоли. На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия.
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-5.jpg' alt='image')
					.service__subtitle Подбор индивидуальной программы лечения
					.service__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса
			.text-center
				button.service__btn.btn.btn_red-t.btn_md(type='button') связаться с нами
	//end service

	//begin why
	.why
		.why__container.container
			.why__title.title почему мы?
			.why__list
				.why__item
					.why__subtitle 24 ЧАСА В СУТКИ 7 ДНЕЙ В НЕДЕЛЮ
					.why__text Возможность круглосуточного обращения в онкологический центр в Москве, экстренная госпитализация, проведение экстренных операций. Консультация онколога проводится по предварительной записи семь дней в неделю, в том числе в выходные и праздничные дни.
				.why__item
					.why__subtitle КОМПЛЕКСНАЯ ПОМОЩЬ
					.why__text Институт онкологии EMC – первая частная онкологическая клиника, оказывающая весь комплекс помощи пациентам с онкологическими заболеваниями: диагностика, химиотерапия, хирургия любой сложности, лучевая терапия, реабилитация, психологическая поддержка пациента и его семьи. Современные методы лечения рака, включая иммунотерапию и таргетную терапию, основанную на молекулярно-генетическом анализе опухоли.
				.why__item
					.why__subtitle ЗАРУБЕЖНЫЕ ПРОТОКОЛЫ
					.why__text Институт онкологии EMC – это лечение рака в Москве по международным стандартам. Лечение проводится по протоколам Национальной Онкологической Сети США (NCCN) и Европейского общества онкологов (ESMO). Для каждого пациента разрабатывается индивидуальный план лечения, согласованный несколькими специалистами.
				.why__item
					.why__subtitle НОВЕЙШЕЕ ОБОРУДОВАНИЕ
					.why__text Оборудование последнего поколения для диагностики (ПЭТ/КТ, ОФЭКТ/КТ), лучевой терапии, радиохирургии (TrueBeam), роботизированная хирургия (DA Vinci Si HD).
				.why__item
					.why__subtitle КВАЛИФИКАЦИЯ СПЕЦИАЛИСТОВ
					.why__text Ведущие специалисты в области онкологии, радиологии, лучевой терапии, онкохирургии, психоонкологии из США, Европы, Израиля и России.
			.text-center
				button.why__btn.btn.btn_red-t.btn_md.js-more(type='button') подробнее
				.text.js-text
					.text__container.container
						.text__title.title подробнее о клинике
						.text__row
							.text__col3
								ul.text__list
									li.text__item Полный курс диагностики и лечение рака груди в одной клинике
									li.text__item Прием онколога в течение 1-2 дней, без направления
									li.text__item Новейшие технологии и опытные специалисты
									li.text__item Современные техники выполнения органосохраняющих операций
							.text__col3
								ul.text__list
									li.text__item Новейшие технологии и опытные специалисты
									li.text__item Современные техники выполнения органосохраняющих операций
									li.text__item Полный курс диагностики и лечение рака груди в одной клинике
									li.text__item Прием онколога в течение 1-2 дней, без направления
							.text__col3
								ul.text__list
									li.text__item Индивидуальный план диагностики и лечения
									li.text__item Уникальный опыт послеоперационной лучевой терапии
									li.text__item Специальные возможности ПЭТ-КТ диагностики при раке молочной  железы
									li.text__item Клиника принимает медицинские документы на русском языке
						.text__row
							.text__col2
								img.text__img(src='img/content/cert-1.png' alt='image')
								img.text__img(src='img/content/cert-2.png' alt='image')
								img.text__img(src='img/content/cert-3.png' alt='image')
							.text__col2
								p.text__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса
								p.text__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса
	//end why

	//begin work
	.work

	//end work