extend includes/_layout
block title
	title Docrates
block content
	//begin start
	.start
		.start__container.container
			.start__in
				.start__title Лечение и диагностика рака груди
				button.start__btn.btn.btn_white.btn_lg(type='button') оставить заявку на лечение
	//end start

	//begin service
	.service
		.service__container.container
			.service__title.title мы предлагаем
			.service__list
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-1.jpg' alt='image')
					.service__subtitle Прием онколога в течение 1-2 дней
					.service__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса На сегодняшнии день существует три основных метода лечения
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-2.jpg' alt='image')
					.service__subtitle Диагностика при помощи новейших аппаратов
					.service__text Возможность круглосуточного обращения в онкологический центр в Москве, экстренная госпитализация, проведение экстренных операций. Консультация онколога проводится по предварительной записи семь дней в неделю, в том числе в выходные и праздничные дни. На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия.
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-3.jpg' alt='image')
					.service__subtitle позитронно-эмиссионная и компьютерная томография
					.service__text Институт онкологии EMC – первая частная онкологическая клиника, оказывающая весь комплекс помощи пациентам с онкологическими заболеваниями: диагностика, химиотерапия, хирургия любой сложности, лучевая терапия, реабилитация, психологическая поддержка пациента и его семьи. Современные методы лечения рака, включая иммунотерапию
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-4.jpg' alt='image')
					.service__subtitle Точный диагноз благодаря нескольким способам
					.service__text Хирургия любой сложности, лучевая терапия, реабилитация, психологическая поддержка пациента и его семьи. Современные методы лечения рака, включая иммунотерапию и таргетную терапию, основанную на молекулярно- генетическом анализе опухоли. На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия.
				.service__item
					.service__image
						.service__img-wrap
							img.service__img(src='img/content/service-5.jpg' alt='image')
					.service__subtitle Подбор индивидуальной программы лечения
					.service__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса
			.text-center
				button.service__btn.btn.btn_red-t(type='button') связаться с нами
	//end service