extend includes/_layout
block title
	title Docrates
block content
	//begin start
	.start
		.start__container.container
			.start__in
				.start__title Лечение и диагностика рака груди
				button.start__btn.btn.btn_white.btn_lg(type='button') оставить заявку на лечение
	//end start

	//begin service
	.service
		.service__container.container
			.service__title.title мы предлагаем
			.service__list
				.service__item
					a.service__image(href='#')
						.service__img-wrap
							img.service__img(src='img/content/service-1.jpg' alt='image')
					.service__subtitle Прием онколога в течение 1-2 дней
					.service__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса На сегодняшнии день существует три основных метода лечения
				.service__item
					a.service__image(href='#')
						.service__img-wrap
							img.service__img(src='img/content/service-2.jpg' alt='image')
					.service__subtitle Диагностика при помощи новейших аппаратов
					.service__text Возможность круглосуточного обращения в онкологический центр в Москве, экстренная госпитализация, проведение экстренных операций. Консультация онколога проводится по предварительной записи семь дней в неделю, в том числе в выходные и праздничные дни. На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия.
				.service__item
					a.service__image(href='#')
						.service__img-wrap
							img.service__img(src='img/content/service-3.jpg' alt='image')
					.service__subtitle позитронно-эмиссионная и компьютерная томография
					.service__text Институт онкологии EMC – первая частная онкологическая клиника, оказывающая весь комплекс помощи пациентам с онкологическими заболеваниями: диагностика, химиотерапия, хирургия любой сложности, лучевая терапия, реабилитация, психологическая поддержка пациента и его семьи. Современные методы лечения рака, включая иммунотерапию
				.service__item
					a.service__image(href='#')
						.service__img-wrap
							img.service__img(src='img/content/service-4.jpg' alt='image')
					.service__subtitle Точный диагноз благодаря нескольким способам
					.service__text Хирургия любой сложности, лучевая терапия, реабилитация, психологическая поддержка пациента и его семьи. Современные методы лечения рака, включая иммунотерапию и таргетную терапию, основанную на молекулярно- генетическом анализе опухоли. На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия.
				.service__item
					a.service__image(href='#')
						.service__img-wrap
							img.service__img(src='img/content/service-5.jpg' alt='image')
					.service__subtitle Подбор индивидуальной программы лечения
					.service__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса
			.text-center
				button.service__btn.btn.btn_red-t.btn_md(type='button') связаться с нами
	//end service

	//begin why
	.why
		.why__container.container
			.why__title.title почему мы?
			.why__list
				.why__item
					.why__subtitle 24 ЧАСА В СУТКИ 7 ДНЕЙ В НЕДЕЛЮ
					.why__text Возможность круглосуточного обращения в онкологический центр в Москве, экстренная госпитализация, проведение экстренных операций. Консультация онколога проводится по предварительной записи семь дней в неделю, в том числе в выходные и праздничные дни.
				.why__item
					.why__subtitle КОМПЛЕКСНАЯ ПОМОЩЬ
					.why__text Институт онкологии EMC – первая частная онкологическая клиника, оказывающая весь комплекс помощи пациентам с онкологическими заболеваниями: диагностика, химиотерапия, хирургия любой сложности, лучевая терапия, реабилитация, психологическая поддержка пациента и его семьи. Современные методы лечения рака, включая иммунотерапию и таргетную терапию, основанную на молекулярно-генетическом анализе опухоли.
				.why__item
					.why__subtitle ЗАРУБЕЖНЫЕ ПРОТОКОЛЫ
					.why__text Институт онкологии EMC – это лечение рака в Москве по международным стандартам. Лечение проводится по протоколам Национальной Онкологической Сети США (NCCN) и Европейского общества онкологов (ESMO). Для каждого пациента разрабатывается индивидуальный план лечения, согласованный несколькими специалистами.
				.why__item
					.why__subtitle НОВЕЙШЕЕ ОБОРУДОВАНИЕ
					.why__text Оборудование последнего поколения для диагностики (ПЭТ/КТ, ОФЭКТ/КТ), лучевой терапии, радиохирургии (TrueBeam), роботизированная хирургия (DA Vinci Si HD).
				.why__item
					.why__subtitle КВАЛИФИКАЦИЯ СПЕЦИАЛИСТОВ
					.why__text Ведущие специалисты в области онкологии, радиологии, лучевой терапии, онкохирургии, психоонкологии из США, Европы, Израиля и России.
			.text-center
				button.why__btn.btn.btn_red-t.btn_md.js-more(type='button') подробнее
				.text.js-text
					.text__container.container
						.text__title.title подробнее о клинике
						.text__row
							.text__col3
								ul.text__list
									li.text__item Полный курс диагностики и лечение рака груди в одной клинике
									li.text__item Прием онколога в течение 1-2 дней, без направления
									li.text__item Новейшие технологии и опытные специалисты
									li.text__item Современные техники выполнения органосохраняющих операций
							.text__col3
								ul.text__list
									li.text__item Новейшие технологии и опытные специалисты
									li.text__item Современные техники выполнения органосохраняющих операций
									li.text__item Полный курс диагностики и лечение рака груди в одной клинике
									li.text__item Прием онколога в течение 1-2 дней, без направления
							.text__col3
								ul.text__list
									li.text__item Индивидуальный план диагностики и лечения
									li.text__item Уникальный опыт послеоперационной лучевой терапии
									li.text__item Специальные возможности ПЭТ-КТ диагностики при раке молочной  железы
									li.text__item Клиника принимает медицинские документы на русском языке
						.text__row
							.text__col2
								a.text__image(href='img/content/cert-1-original.png')
									img.text__img(src='img/content/cert-1.png' alt='image')
									.text__image-icon
										+i('loop-original')
								a.text__image(href='img/content/cert-1-original.png')
									img.text__img(src='img/content/cert-2.png' alt='image')
									.text__image-icon
										+i('loop-original')
								a.text__image(href='img/content/cert-1-original.png')
									img.text__img(src='img/content/cert-3.png' alt='image')
									.text__image-icon
										+i('loop-original')
							.text__col2
								p.text__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса
								p.text__text На сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса сегодняшнии день существует три основных метода лечения: хирургическое лечение, лучевая терапия и химиотерапия. Помимо этого, клиника Дократес имеет возможность Помимо этого, клиника Дократес имеет возможность проведения радионуклидно терапии, иммунотерапии, биологического лечения. Также мы начинаем лечение препаратами онколитического вируса
	//end why

	//begin work
	.work
		.work-for.js-slider-for
			.work-for__item
				.work-for__container.container
					.work-for__in
						.work-for__title как мы работаем 1
						.work-for__text Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы.
			.work-for__item
				.work-for__container.container
					.work-for__in
						.work-for__title как мы работаем 2
						.work-for__text Разработаем для вас идеальное свадебное предложение в рамках вашего бюджета. Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы. Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы.
			.work-for__item.is-active
				.work-for__container.container
					.work-for__in
						.work-for__title как мы работаем
						.work-for__text Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы.
						.work-for__text Разработаем для вас идеальное свадебное предложение в рамках вашего бюджета. Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы. Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы.
			.work-for__item
				.work-for__container.container
					.work-for__in
						.work-for__title как мы работаем 4
						.work-for__text Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы.
						.work-for__text Разработаем для вас идеальное свадебное предложение в рамках вашего бюджета. Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы. Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы.
			.work-for__item
				.work-for__container.container
					.work-for__in
						.work-for__title как мы работаем 5
						.work-for__text Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы.
						.work-for__text Разработаем для вас идеальное свадебное предложение в рамках вашего бюджета. Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы. Внимательно выслушаем вас о чем мечтаете и чего хотите. Расскажем о своем подходе к организации свадьбы.
		.work-nav.js-slider-nav
			.work-nav__container.container
				.work-nav__item Прием онколога <br>в течение 1-2 дней <br>без направления
				.work-nav__item Узкая <br>специализация <br>в онкологии
				.work-nav__item.is-active Новейшие технологии <br>и опытные <br>специалисты
				.work-nav__item только <br>Индивидуальный <br>план лечения
				.work-nav__item Обслуживание <br>на русском <br>языке
	//end work

	//begin spec
	.spec
		.spec__container.container
			.spec__title.title спецпредложения
			.spec__block
				.spec__subtitle предрасположенность к раку груди стало более доступным
				.spec__text Сегодня можно обратиться в платную лабораторию и сдать тест на геномутацию. Специалисты клиники Дократес рекомендуют сначала проконсультироваться с генетиком, который подробно расспросит пациентку о причинах беспокойств и определит, существует ли действительно у пациентки риск наследственного рака груди.
				button.spec__btn.btn.btn_white.btn_md(type='button') получить скидку
	//end spec

	//begin doc
	.doc
		.doc__container.container
			//begin desc
			.doc__desc.desc.js-desc
				.desc__container.container
					//begin DON'T TOUCH
					.desc__top
						.desc__prev.js-desc-prev
							+i('left')
						.desc__next.js-desc-next
							+i('right')
						.js-desc-header
					.desc__bot
						.desc__col.js-desc-img
						.desc__col
							.desc__col-in.js-desc-text
					button.desc__close.js-desc-close(type='button') закрыть
					//end DON'T TOUCH
			//end desc
			.doc__title.title специалисты клиники
			.doc__list.js-doc-list
				.doc__item
					.doc__image
						img.doc__img(src='img/content/doc-1.jpg' alt='image')
					.doc__subtitle Tom Wiklund
					.doc__text Медицинский директор клиники Д.М.Н., доцент Специалист онкологии и лучевой терапии
					//begin popup
					.is-hidden
						.js-doc-header
							.desc__title.js-desc-title Tom Wiklund
							.desc__subtitle Должность:
								span.desc__subtitle-normal Врач-онколог
							.desc__subtitle Владение языками:
								span.desc__subtitle-normal Финский, эстонский, русский, английский
						.js-doc-image
							img.desc__img(src='img/content/photo-2.jpg' alt='image')
						.js-doc-text
							p Получив специальность врача-онколога, Майго был принят в отделение онкологии государственной Центральной больницы в г. Вааса (Финляндия). Здесь Майго работал онкологом, и принимал пациентов с самыми разными диагнозами, к примеру, с раком молочной железы, предстательной железы, легких, кишечника. Майго нравилось вести пациентов в Вааса, но помимо рутинной работы ему хотелось заниматься более сложными случаями. Однажды, Майго позвонил Медицинский директор онкологической клиники Дократес, Том Виклунд и пригласил специалиста на собеседование. Том как раз подыскивал в Дократес молодого врача со знанием языков, интересующегося как медикаментозным лечением онкологии, так и лучевой терапией. Майго Риенер очень подходил требованиям и концепции клиники Дократес – ”предложить пациенту лучшее лечение на родном языке”. Сейчас Майго Риенер является частью команды русскоговорящих специалистов клиники Дократес и успешно справляется со своей работой.
					//end popup
				.doc__item
					.doc__image
						img.doc__img(src='img/content/doc-2.jpg' alt='image')
					.doc__subtitle Maigo Riener
					.doc__text Врач-онколог специалист медикаментозного лечения и лучевой терапии
					//begin popup
					.is-hidden
						.js-doc-header
							.desc__title.js-desc-title Maigo Riener
							.desc__subtitle Должность:
								span.desc__subtitle-normal Врач-онколог
							.desc__subtitle Владение языками:
								span.desc__subtitle-normal Финский, эстонский, русский, английский
						.js-doc-image
							img.desc__img(src='img/content/photo-2.jpg' alt='image')
						.js-doc-text
							p Майго Риенер работает в клинике Дократес с сентября 2014 года. Майго получил полное медицинское образование в эстонском Университете г. Тарту. В 2009 году Майго получил специальность врача, а в 2013 специализацию врача-онколога. Майго владеет финским, эстонским, английским и русским языками и имеет право вести врачебную деятельность в Финляндии. Система медицинского образования Эстонии и Финляндии практически одинаковы: первые 6 лет занимает обучение по общей медицине; следующие 4 года – специализация по онкологии, которая включает медикаментозное лечение и лучевую терапию.
							p Еще учась в Университете, Майго начал работать. У доктора опыт работы в самых разных медицинских учреждениях Европы. Майго работал в кардиологическом отделении центральной больницы при Университете г. Тарту; являлся младшим сотрудником в пластической хирургии и отделении детской неврологии Университетской клиники Люберка (Германия); работал врачом общего профиля в отделениях неотложной помощи и онкологии в Эстонии. Риенер считает, что у врача должна быть возможность работы в самых разных областях медицины. Благодаря этому, специалист собирает нужный опыт и осознано решает, какой именно специальности посвятить свою жизнь.
							p Получив специальность врача-онколога, Майго был принят в отделение онкологии государственной Центральной больницы в г. Вааса (Финляндия). Здесь Майго работал онкологом, и принимал пациентов с самыми разными диагнозами, к примеру, с раком молочной железы, предстательной железы, легких, кишечника. Майго нравилось вести пациентов в Вааса, но помимо рутинной работы ему хотелось заниматься более сложными случаями. Однажды, Майго позвонил Медицинский директор онкологической клиники Дократес, Том Виклунд и пригласил специалиста на собеседование. Том как раз подыскивал в Дократес молодого врача со знанием языков, интересующегося как медикаментозным лечением онкологии, так и лучевой терапией. Майго Риенер очень подходил требованиям и концепции клиники Дократес – ”предложить пациенту лучшее лечение на родном языке”. Сейчас Майго Риенер является частью команды русскоговорящих специалистов клиники Дократес и успешно справляется со своей работой.
					//end popup
				.doc__item
					.doc__image
						img.doc__img(src='img/content/doc-3.jpg' alt='image')
					.doc__subtitle Timo Joensuu
					.doc__text Основатель клиники главный врач отд. лучевой терапии Д.М.Н., доцент клинической онкологии Онколог и специалист лучевой терапии
					//begin popup
					.is-hidden
						.js-doc-header
							.desc__title.js-desc-title Timo Joensuu
							.desc__subtitle Должность:
								span.desc__subtitle-normal Врач-онколог
							.desc__subtitle Владение языками:
								span.desc__subtitle-normal Финский, эстонский, русский, английский
						.js-doc-image
							img.desc__img(src='img/content/photo-2.jpg' alt='image')
						.js-doc-text
							p Майго Риенер работает в клинике Дократес с сентября 2014 года. Майго получил полное медицинское образование в эстонском Университете г. Тарту. В 2009 году Майго получил специальность врача, а в 2013 специализацию врача-онколога. Майго владеет финским, эстонским, английским и русским языками и имеет право вести врачебную деятельность в Финляндии. Система медицинского образования Эстонии и Финляндии практически одинаковы: первые 6 лет занимает обучение по общей медицине; следующие 4 года – специализация по онкологии, которая включает медикаментозное лечение и лучевую терапию.
							p Еще учась в Университете, Майго начал работать. У доктора опыт работы в самых разных медицинских учреждениях Европы. Майго работал в кардиологическом отделении центральной больницы при Университете г. Тарту; являлся младшим сотрудником в пластической хирургии и отделении детской неврологии Университетской клиники Люберка (Германия); работал врачом общего профиля в отделениях неотложной помощи и онкологии в Эстонии. Риенер считает, что у врача должна быть возможность работы в самых разных областях медицины. Благодаря этому, специалист собирает нужный опыт и осознано решает, какой именно специальности посвятить свою жизнь.
							p Получив специальность врача-онколога, Майго был принят в отделение онкологии государственной Центральной больницы в г. Вааса (Финляндия). Здесь Майго работал онкологом, и принимал пациентов с самыми разными диагнозами, к примеру, с раком молочной железы, предстательной железы, легких, кишечника. Майго нравилось вести пациентов в Вааса, но помимо рутинной работы ему хотелось заниматься более сложными случаями. Однажды, Майго позвонил Медицинский директор онкологической клиники Дократес, Том Виклунд и пригласил специалиста на собеседование. Том как раз подыскивал в Дократес молодого врача со знанием языков, интересующегося как медикаментозным лечением онкологии, так и лучевой терапией. Майго Риенер очень подходил требованиям и концепции клиники Дократес – ”предложить пациенту лучшее лечение на родном языке”. Сейчас Майго Риенер является частью команды русскоговорящих специалистов клиники Дократес и успешно справляется со своей работой.
							p Получив специальность врача-онколога, Майго был принят в отделение онкологии государственной Центральной больницы в г. Вааса (Финляндия). Здесь Майго работал онкологом, и принимал пациентов с самыми разными диагнозами, к примеру, с раком молочной железы, предстательной железы, легких, кишечника. Майго нравилось вести пациентов в Вааса, но помимо рутинной работы ему хотелось заниматься более сложными случаями. Однажды, Майго позвонил Медицинский директор онкологической клиники Дократес, Том Виклунд и пригласил специалиста на собеседование. Том как раз подыскивал в Дократес молодого врача со знанием языков, интересующегося как медикаментозным лечением онкологии, так и лучевой терапией. Майго Риенер очень подходил требованиям и концепции клиники Дократес – ”предложить пациенту лучшее лечение на родном языке”. Сейчас Майго Риенер является частью команды русскоговорящих специалистов клиники Дократес и успешно справляется со своей работой.
					//end popup
				.doc__item
					.doc__image
						img.doc__img(src='img/content/doc-4.jpg' alt='image')
					.doc__subtitle Tuomo Alanko
					.doc__text Д.М.Н., профессор специалиств области клинической химии врач изотопной терапии
					//begin popup
					.is-hidden
						.js-doc-header
							.desc__title.js-desc-title Tuomo Alanko
							.desc__subtitle Должность:
								span.desc__subtitle-normal Врач-онколог
							.desc__subtitle Владение языками:
								span.desc__subtitle-normal Финский, эстонский, русский, английский
						.js-doc-image
							img.desc__img(src='img/content/photo-2.jpg' alt='image')
						.js-doc-text
							p Майго Риенер работает в клинике Дократес с сентября 2014 года. Майго получил полное медицинское образование в эстонском Университете г. Тарту. В 2009 году Майго получил специальность врача, а в 2013 специализацию врача-онколога. Майго владеет финским, эстонским, английским и русским языками и имеет право вести врачебную деятельность в Финляндии. Система медицинского образования Эстонии и Финляндии практически одинаковы: первые 6 лет занимает обучение по общей медицине; следующие 4 года – специализация по онкологии, которая включает медикаментозное лечение и лучевую терапию.
							p Еще учась в Университете, Майго начал работать. У доктора опыт работы в самых разных медицинских учреждениях Европы. Майго работал в кардиологическом отделении центральной больницы при Университете г. Тарту; являлся младшим сотрудником в пластической хирургии и отделении детской неврологии Университетской клиники Люберка (Германия); работал врачом общего профиля в отделениях неотложной помощи и онкологии в Эстонии. Риенер считает, что у врача должна быть возможность работы в самых разных областях медицины. Благодаря этому, специалист собирает нужный опыт и осознано решает, какой именно специальности посвятить свою жизнь.
							p Получив специальность врача-онколога, Майго был принят в отделение онкологии государственной Центральной больницы в г. Вааса (Финляндия). Здесь Майго работал онкологом, и принимал пациентов с самыми разными диагнозами, к примеру, с раком молочной железы, предстательной железы, легких, кишечника. Майго нравилось вести пациентов в Вааса, но помимо рутинной работы ему хотелось заниматься более сложными случаями. Однажды, Майго позвонил Медицинский директор онкологической клиники Дократес, Том Виклунд и пригласил специалиста на собеседование. Том как раз подыскивал в Дократес молодого врача со знанием языков, интересующегося как медикаментозным лечением онкологии, так и лучевой терапией. Майго Риенер очень подходил требованиям и концепции клиники Дократес – ”предложить пациенту лучшее лечение на родном языке”. Сейчас Майго Риенер является частью команды русскоговорящих специалистов клиники Дократес и успешно справляется со своей работой.
					//end popup
				.doc__item
					.doc__image
						img.doc__img(src='img/content/doc-5.jpg' alt='image')
					.doc__subtitle Tuomo Alanko
					.doc__text Д.М.Н., специалист онкологии, зав. врач отделением химиотерапии
					//begin popup
					.is-hidden
						.js-doc-header
							.desc__title.js-desc-title Tuomo Alanko
							.desc__subtitle Должность:
								span.desc__subtitle-normal Врач-онколог
							.desc__subtitle Владение языками:
								span.desc__subtitle-normal Финский, эстонский, русский, английский
						.js-doc-image
							img.desc__img(src='img/content/photo-2.jpg' alt='image')
						.js-doc-text
							p Еще учась в Университете, Майго начал работать. У доктора опыт работы в самых разных медицинских учреждениях Европы. Майго работал в кардиологическом отделении центральной больницы при Университете г. Тарту; являлся младшим сотрудником в пластической хирургии и отделении детской неврологии Университетской клиники Люберка (Германия); работал врачом общего профиля в отделениях неотложной помощи и онкологии в Эстонии. Риенер считает, что у врача должна быть возможность работы в самых разных областях медицины. Благодаря этому, специалист собирает нужный опыт и осознано решает, какой именно специальности посвятить свою жизнь.
							p Получив специальность врача-онколога, Майго был принят в отделение онкологии государственной Центральной больницы в г. Вааса (Финляндия). Здесь Майго работал онкологом, и принимал пациентов с самыми разными диагнозами, к примеру, с раком молочной железы, предстательной железы, легких, кишечника. Майго нравилось вести пациентов в Вааса, но помимо рутинной работы ему хотелось заниматься более сложными случаями. Однажды, Майго позвонил Медицинский директор онкологической клиники Дократес, Том Виклунд и пригласил специалиста на собеседование. Том как раз подыскивал в Дократес молодого врача со знанием языков, интересующегося как медикаментозным лечением онкологии, так и лучевой терапией. Майго Риенер очень подходил требованиям и концепции клиники Дократес – ”предложить пациенту лучшее лечение на родном языке”. Сейчас Майго Риенер является частью команды русскоговорящих специалистов клиники Дократес и успешно справляется со своей работой.
					//end popup
	//end doc

	//begin stat
	.stat
		.stat__container.container
			.stat__title
				| ежегодно в клинике
				span.stat__title-number 17 000
				| пациентов
			.stat__list
				.stat__item
					.stat__number 5
					.stat__text клинических <br>исследований <br>по раку груди
				.stat__item
					.stat__number 54
					.stat__text страны мира, пациенты <br>которых уже посетили <br>клинику Дократес
				.stat__item
					.stat__number 1
					.stat__text место в Европе по <br>5-ти летней выживаемости <br>при лечении рака груди
	//end stat
		
	//begin feed
	.feed
		.feed__container.container
			.feed__row
				.feed__col
					.feed__title.title отзывы
				.feed__col
					.feed__title.title вопросы-ответы
			.feed__row
				.feed__col
					.feed__image
						.feed__img-wrap
							img.feed__img(src='img/content/ava.png' alt='image')
					.feed__content
						.feed__subtitle
							| Тамара C.,
							span.feed__subtitle-date &nbsp;19.08.2016
						.feed__text
							| «Благодарю от всей души Марину, медсестру Екатерину и доктора Майго за высокий профессионализм, чуткость, терпение, внимание ко мне. Прекрасная гостиница, все отлично! Здоровья всем. Буду
							a.feed__text-link(href='#') Читать далее
				.feed__col
					.feed__image
						.feed__img-wrap
							img.feed__img(src='img/content/ava.png' alt='image')
					.feed__content
						.feed__subtitle
							| Ольга К.,
							span.feed__subtitle-date &nbsp;10.01.2013
						.feed__text
							| Здравствуйте. Моей маме в ноябре 2015 г. была удалена родинка, подозрение на меланому, гистология - лентиго меланома in situ. Мы перепроверили стекла в больнице в
							a.feed__text-link(href='#') Читать далее
			.feed__row
				.feed__col
					.feed__image
						.feed__img-wrap
							img.feed__img(src='img/content/ava.png' alt='image')
					.feed__content
						.feed__subtitle
							| Тамара C.,
							span.feed__subtitle-date &nbsp;19.08.2016
						.feed__text
							| «Большое спасибо всем сотрудникам клиники Docrates за Ваше внимательное отношение. Очень благодарна докторам Maigo Riener и Jari Viinikainen за профессионализм и чуткость. Желаю Вам здоровья, удачи и исполнения всех желаний»
							a.feed__text-link(href='#') Читать далее
				.feed__col
					.feed__image
						.feed__img-wrap
							img.feed__img(src='img/content/ava.png' alt='image')
					.feed__content
						.feed__subtitle
							| Тамара C.,
							span.feed__subtitle-date &nbsp;10.01.2013
						.feed__text
							| Процедура наружной лучевой терапии похожа на обычное рентгеновское обследование. Радиация невидима, не имеет запаха и не ощущается, побочные эффекты не возникают до 2-й или 3-й недели лечения. Лучевая
							a.feed__text-link(href='#') Читать далее
			.feed__row
				.feed__col
					.feed__image
						.feed__img-wrap
							img.feed__img(src='img/content/ava.png' alt='image')
					.feed__content
						.feed__subtitle
							| Анна Б.,
							span.feed__subtitle-date &nbsp;10.09.2014
						.feed__text
							| «Мы с мамой хотим сказать огромное спасибо всей клинике Docrates. Мы очень рады, что попали к Вам. У Вас очень уютно, очень дружественно-настроенный персонал. Все очень заботливые и хорошие. И сама клиника. Будто как дома ).
							a.feed__text-link(href='#') Читать далее
				.feed__col
					.feed__image
						.feed__img-wrap
							img.feed__img(src='img/content/ava.png' alt='image')
					.feed__content
						.feed__subtitle
							| Анна Б.,
							span.feed__subtitle-date &nbsp;10.01.2013
						.feed__text
							| В тех случаях, когда химиотерапия недостаточно эффективна, некоторые клетки опухоли под ее воздействием не погибают, а временно замедляют свои биологические процессы и не накапливают
							a.feed__text-link(href='#') Читать далее
			.feed__row
				.feed__col
					a.feed__btn(href='#') все отзывы
				.feed__col
					a.feed__btn(href='#') все отзывы
	//end feed

	//begin request
	.request
		.request__container.container
			.request__title.title online заявка
			form.form(action='#')
				.form__field
					input.form__input(type='text' placeholder='вас зовут' data-validation='required')
					.icon-required *
				.form__field
					input.form__input(type='text' placeholder='тeлeфон')
				.form__field
					input.form__input(type='text' placeholder='E-mail' data-validation="email")
					.icon-required *
					.form__tooltip На этот E-mail  мы отправим ответ
				.form__field
					textarea.form__area(placeholder='вопрос / информация' data-validation="required")
					.icon-required *
				.form__field.form__field_md
					.form__col
						input.form__file(type='file')
					.form__col
						input.form__check(type='checkbox' id='check1')
						label.form__check-label(for='check1') хочу скидку 10%
				.form__field.form__field_lg
					.form__col
						.form__captcha
							img(src='img/content/captcha.jpg' alt='image')
					.form__col
						.form__rel
							.form__arrow →
							input.form__input.form__code(type='text' placeholder='Код' data-validation='required')
							.icon-required *
				.form__field.form__field_lg
					button.form__submit(type='submit') отправить
					.form__error ошибка! заполнены не все поля
	//end request

	//begin contact
	.contact
		.contact__container.container
			.contact__title.title контакты
			.contact__row
				.contact__col
					#map.contact__map
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1985.2686766533288!2d24.907668716105977!3d60.15973088195706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920a4e947eaa23%3A0xd77e29a934673d4e!2zVXR0ZXJow6RsbHNzdHJhbmRlbiAyLCAwMDE4MCBIZWxzaW5nZm9ycywg0KTRltC90LvRj9C90LTRltGP!5e0!3m2!1suk!2sua!4v1476664553819" width="100%" height="409" frameborder="0" style="border:0" allowfullscreen)
				.contact__col
					img.contact__img(src='img/content/contact-2.jpg' alt='image')
			.text-center
				a.contact__link(href='#') Как к нам добраться из России
				a.contact__link(href='mailto:international@docrates.com') international@docrates.com
				a.contact__link(href='#') Как к нам добраться в Хельсинки
	//end contact