extend includes/_layout
block title
	title Docrates
block content
	//begin start
	.start
		.start__container.container
			.start__in
				.start__title Лечение и диагностика рака груди
				button.start__btn.btn.btn_white.btn_lg(type='button') оставить заявку на лечение
	//end start